.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #fbd663;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.btn-start {
  padding: 16px 32px;
  cursor: pointer;
  margin-top: 32px;
  border-radius: 6px;
  border: none;
  background-color: cornflowerblue;
  color: #fff;
  font-size: 20px;
}

.select-box {
  margin-right: 20px;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 16px;
}

.title {
  font-size: 170px;
  color: cornflowerblue;
  font-family: "Modak", cursive;
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
.title {
  animation-duration: 2s;
  animation-delay: 0.8s;
}
@keyframes wave {
  40%,
  50% {
    transform: scale(1.05);
  }
  0%,
  90%,
  100% {
    transform: scale(0.95);
  }
}
